body{
  padding: 30px;
  background-color: #fcfcfc;
}
.outer-div{
  padding: 30px;
  background-color: #f3f3f3;
}
.inner-div{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
